<div class="container py-5 h-100">
  <div class="row d-flex align-items-center justify-content-center h-100">
    <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
<div class="register-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- <div class="form-group">
      <label>Full Name</label>
      <input
        type="text"
        formControlName="fullname"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['fullname'].errors }"
      />
      <div *ngIf="submitted && f['fullname'].errors" class="invalid-feedback">
        <div *ngIf="f['fullname'].errors['required']">Fullname is required</div>
      </div>
    </div> -->
    <div class="form-group">
      <label>Name
</label>
      <input
        type="text"
        formControlName="Name"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['Name'].errors }"
      />
      <div *ngIf="submitted && f['Name'].errors" class="invalid-feedback">
        <div *ngIf="f['Name'].errors['required']">Name is required</div>
        <div *ngIf="f['Name'].errors['minlength']">
          Name must be at least 6 characters
        </div>
        <div *ngIf="f['Name'].errors['maxlength']">
          Name must not exceed 20 characters
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>EmailId</label>
      <input
        type="text"
        formControlName="EmailId"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['EmailId'].errors }"
      />
      <div *ngIf="submitted && f['EmailId'].errors" class="invalid-feedback">
        <div *ngIf="f['EmailId'].errors['required']">EmailId is required</div>
        <div *ngIf="f['EmailId'].errors['EmailId']">EmailId is invalid</div>
      </div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input
        type="password"azu
        formControlName="password"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
      />
      <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
        <div *ngIf="f['password'].errors['required']">Password is required</div>
        <div *ngIf="f['password'].errors['minlength']">
          Password must be at least 6 characters
        </div>
        <div *ngIf="f['password'].errors['maxlength']">
          Name
 must not exceed 40 characters
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input
        type="password"
        formControlName="confirmPassword"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
      />
      <div
        *ngIf="submitted && f['confirmPassword'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="f['confirmPassword'].errors['required']">
          Confirm Password is required
        </div>
        <div *ngIf="f['confirmPassword'].errors['matching']">
          Confirm Password does not match
        </div>
      </div>
    </div>
    <div class="form-group form-check">
      <input
        type="checkbox"
        formControlName="acceptTerms"
        class="form-check-input"
        [ngClass]="{ 'is-invalid': submitted && f['acceptTerms'].errors }"
      />
      <label for="acceptTerms" class="form-check-label"
        >I have read and agree to the Terms</label>
      
      <div *ngIf="submitted && f['acceptTerms'].errors" class="invalid-feedback">
        Accept Terms is required
      </div>
    </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Register</button>
          <button
            type="button"
            (click)="onReset()"
            class="btn btn-warning float-right"
          >
            Reset
          </button>
        </div>
      </form>
    </div>
</div>  
</div>  
</div>  



<!-- 
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          
        <form [formGroup]="formReturnData" (ngSubmit)="onClickSubmit()">
        
           <div class="form-group">
            <label class="form-label" for="form1Example13">User Name</label>
            <input type="EmailId" id="form1Example13" formControlName="Name" class="form-control form-control-lg" />
          </div>
           
            <div class="form-group">
                <label class="form-label" for="form1Example13">EmailId address</label>
            <input type="EmailId" id="form1Example13" formControlName="EmailIdId" class="form-control form-control-lg" />
          </div>
         
          <div class="form-group">
            <label class="form-label" for="form1Example23">Password</label>
            <input type="password" id="form1Example23"  formControlName="Password" class="form-control form-control-lg" />
          </div>
         
          <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg btn-block">Sign up</button>
          </div>
        </form>
      </div>
    </div>
  </div> -->